/*
# YELLOW: E5BE47;
# B-Yellow: F7E442;
# Grey: 222222;
#ebebeb
# White: FCFCFC;
# Orange: D54E00;
# D-Blue: 000222;
*/
div{
 /* border: 1px dotted red;*/
}
body{
  background-color:  #FCFCFC;
  /*#FCFCFC;*/
}
a:hover{
  opacity: .7;
}
.cinz{
   font-family: 'Cinzel Decorative', cursive;
}
.crim{
font-family: 'Crimson Text', serif;
}
.tcenter{
  text-align: center;
}
/* =============SPLASH============*/
#topspacer{
  min-height: 12%;
  height: 200px;
  margin: 1px;
}
#headspacer{
  height: 40px;

}
#holder{
  min-height: 300px;
}
.header{
  margin-bottom: 30%;
  min-height: 20%;
}
#nameholder{
  margin-top: 10%;
  font-size: 3em;
  padding-left: -9px;
}
.mainlink{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-left: -100px !important;
  font-size: 1.4em;
}.mainlink:hover{
  opacity: .7;
}
.mslash{
  color: #D54E00;
  font-size: 1.2em;
  font-weight: bold;
}
.micons{
   margin-top: 2%;
   }.mimage:hover{
  opacity: .7;
}
.mimage{
  margin: 8px;
}
.mimage.ficon{
  margin-left: -22px;
}

#iconspacer{
  min-width: 1px;
  min-height: 1px;
}

#barrow{
  bottom: 50px;
  left: 48%;
  position: fixed;
  margin: auto;
}
#arrow{
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
  transform:rotate(90deg);
  margin: 0 auto;
}



/*=====   ABOUT =====*/
#about{
  min-height: 650px;
  background-image:url(http://subtlepatterns.com/patterns/noise_lines.png);
 /* background-color: #ebebeb;*//*#7C8480;*/
 /* box-shadow: 0 0 10px #999;*/
 border-top: 1px #000222 dotted;
 border-bottom: 1px #000222 dotted;
}
#portfolio{
  background-color: #EEE;
  min-height: 600px;
}
#dochart{
  opacity: .8;
  /*border: 10px white solid;*/
  margin-top: 30px;
}
#dochart:hover{
  opacity: 1;
}
.coffeebox{
  line-height: 3em;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5em;
}
.bio{
  margin-top: 40px;
  font-size: 1.13em;
}

/*=====Projects =======*/
#projects{
   min-height: 600px;
  background-color: #FCFCFC;/*#7C8480;*/
}

/*=====Extras =======*/
#extras{
  min-height: 500px;
  background-color: #999;
  box-shadow: 0 0 100px #999;
}
