/*
# YELLOW: E5BE47;
# B-Yellow: F7E442;
# Grey: 222222;
#ebebeb
# White: FCFCFC;
# Orange: D54E00;
# D-Blue: 000222;
*/

.tcenter{ text-align: center; }


div{
  /*border: 1px dotted red;*/
}
body{
  background-color:  #FCFCFC;
  /*#FCFCFC;*/
}
a:hover{
  opacity: .7;
}
.cinz{
    font-family: 'Cinzel Decorative', cursive;
}
.crim{
    font-family: 'Crimson Text', serif;
}
.row.major{
  min-height: 50px;
  height: 50%;
}

/* =============SPLASH============*/
/*.header{
  margin-bottom: 30%;
  min-height: 20%;
}*/
#nameholder{
  margin-top: 10%;
  font-size: 2.8em;
  /*padding-left: 25px;*/
}
.mainlink{
/*  margin-top: 5px;
  margin-bottom: 5px;
/*  height: 40px;*/
  width: 100%;
 /* padding-left: -100px !important;*/
  font-size: 1.35em;*/
}.mainlink:hover{
  opacity: .7;
}

/*.micons{
   margin-top: 2%;
   }.mimage:hover{
  opacity: .7;
}*/
.mimage{
  margin: 8px;
}
.mimage.ficon{
  margin-left: -22px;
}

.black-3{
  height: 100%;
  background-color: #111;
}
