div{
/*border: 1px dotted red;*/
}
body{
  background-color:  #FCFCFC;
  /*#FCFCFC;*/
}
#topspacer{
  min-height: 12%;
  height: 200px;
  margin: 1px;
}
#headspacer{
  height: 40px;

}
#holder{
/*height: 20%;*/
min-height: 300px;/*
  max-height: 300px;*/
 /* height: 25%;*/
 /* margin: 8%;*/
}
.header{
  /*margin-top: 12%;*/
  margin-bottom: 30%;
  min-height: 20%;
  /*max-height: 20%;*/
}
#nameholder{
  margin-top: 10%;
  font-family: 'Cinzel Decorative', cursive;
  font-size: 3em;
  /*margin-left: 70px;*/
}
.mainlink{
  margin-top: 5px;
  margin-bottom: 5px;
  /*padding-left: 103px !important;*/
  font-family: 'Crimson Text', serif;
  font-size: 1.4em;
}.mainlink:hover{
  opacity: .7;
}
.mslash{
  color: rgba(207, 83, 0,1);
  font-size: 1.2em;
  font-weight: bold;
}
.micons{
     margin-top: 2%;
   }.mimage:hover{
  opacity: .7;
}
.mimage{
  margin: 8px;
}

#barrow{
  bottom: 90px;
  left: 48%;
  position: fixed;
  margin: auto;
}
#arrow{
  -ms-transform:rotate(90deg); /* IE 9 */
  -moz-transform:rotate(90deg); /* Firefox */
  -webkit-transform:rotate(90deg); /* Safari and Chrome */
  -o-transform:rotate(90deg); /* Opera */
  transform:rotate(90deg);
  margin: 0 auto;
}
#arrowhold{

}
#about{
  min-height: 600px;
  background-color: #888;
}

