div {
	/*border: red dotted;*/
}
.container{
	margin:auto;
}
.wt{
	color: #EEE;
}
.nb-box{
	padding: 50px;
	padding-top:65px;
	padding-right: 40px;
	font-size:10em;
	height:40px;
	width: 300px;
	background: black;
	margin:0 auto;

}
.black{
	background: #191919;
}
.center{
	margin:auto;
}



img.bg {
		/* Set rules to fill background */
		min-height: 820px;
		min-width: 1090px;

		margin-left:-150px;
		margin-top: -50px;
	
		/* Set up proportionate scaling */
		width: 130% !important;
		max-width: 130%;
		height: 820px;
	
		/* Set up positioning */
		position: fixed;
		top: 0;
		left: 0px;
		/**/
		z-index: -1;
}

#nb{

}
#topbar{

	height: 80px;
	width:100%;
	
}

	body{
		margin: 0px 0 0 0;
	}


      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
  
      /* Supporting marketing content */
   